* {
  margin: 0;
  padding: 0;
}

html{
  width:100%;
  height:100%;
}

body{
  line-height:1.5;
  margin:0;
  width:100%;
  height:100%;
  background:#665;
}

.io h1{
  font-size:1.5em;
  line-height:1.3333em;
}

button,
input,
label,
textarea{
  margin:5px 0px;
  min-width:6em;
  padding:5px;
}

label{
  padding-left:0px;
}

input,
label,
textarea{
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  width:100%;
}

div.line{
  height:3em;
  position:relative;
}

div.line > label{
  position:absolute;
  top:0;
  width:6em;
}

div.line > input{
  left:6em;
  position:absolute;
  right:0;
  top:0;
  width:inherit;
}

button.add,
button.clear,
button.remove{
  background-repeat:no-repeat;
  background-position:5px 50%;
  padding-left:26px;
}

button.add{
  background-image:url('../img/list-add.png');
}

button.clear{
  background-image:url('../img/edit-clear.png');
}

button.remove{
  background-image:url('../img/list-remove.png');
}

#halfviz{
  position:absolute;
  top:56px;
  left:10px;
  right:10px;
  bottom:10px;
  padding:0 10px;
  background:#fffff3;
  border-radius:4px;
  z-index:1;
}

#viewport{
  background:white;
}


#editor{
  position:absolute;
  right:10px;
  top:0;
  width:346px;
  bottom:10px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

#grabber{
  position:absolute;
  background:#b3bcb0;
  width:8px;
  top:0px;
  bottom:10px;
  right:358px;
}

#grabber:hover{
  cursor:col-resize
}

a.update{
  margin:0;
  background:#443;
  padding:9px 8px 7px 8px;
  height:18px;
  clear:both;
  display:none;
  text-decoration:none;
  font:12px Arial, sans-serif;
  color:white;
  vertical-align:bottom;
  min-width:100px;
}

#dashboard{
  position:fixed;
  height:55px;
  top:10px;
  left:10px;
  right:10px;
  background:#eeeee2;
  border-radius:4px;
  padding:5px 10px;
}

.editor {
  padding:1em;
}

.io {
  background-color:rgba(0,0,0,.8);
  color:rgba(255,255,255,.8);
  height:100%;
  padding:10px;
}

#metadata {
  white-space: pre-wrap;
}

.io .ctrl a.syntax{
  float:right;
}
.io .ctrl a{
  margin:0px 8px;
  color:#ddd;
  text-decoration:none;
}

.io .ctrl{
  margin-bottom:10px;
}

#dashboard > h1{
  display:inline-block;
}

#dashboard > a{
  color:rgba(0,0,0,.8);
  display:inline-block;
  float:right;
  margin:5px;
  padding:5px 0px;
}
