html,
body{
  height:100%;
  overflow:hidden;
  width:100%;
}

h1,
label,
input,
textarea{
  box-sizing:border-box;
  clear:both;
  display:block;
  margin-bottom:0.75em;
  text-align:left;
  width:100%;
}

input{
  height:2em;
}

button{
  float:right;
}

button+button{
  margin-left:10px;
}

button:last-of-type(){
  margin-left:0;
}

button#clear_text,
button#show_edge_form{
  float:left;
}

ul{
  margin:0;
}

li{
  display:inline-block;
  height:48px;
  margin:0 12px 12px 0;
  min-width:144px;
  position:relative;
}

li>img{
  margin:0 10px 10px 0;
}

li>b{
  display:block;
  left:60px;
  position:absolute;
  top:0;
}

li>button{
  float:none;
  clear:both;
  position:relative;
  top:-1.5em;
}

table{
  margin-bottom:0;
}

#viewport,
#editor,
#grabber{
  box-sizing:border-box;
  bottom:0;
  height:100%;
  padding:0;
  position:absolute;
  top:0;
}

#editor{
  right:0;
  min-width:172px;
  overflow-y:scroll;
  width:346px;
}

#editor>.io>h2{
  margin:9px 20px;
  padding:10px;
  border-top:2px solid;
  outline:none !important;
}

#editor>.io>h2:nth-of-type(1){
  border-top:2px solid transparent;
}

#editor>.io>div{
  padding:0 30px 40px;
}

#grabber{
  border-left:3px double #b3bcb0;
  border-right:3px double #b3bcb0;
  width:7px;
  right:358px;
}

#grabber:hover{
  cursor:col-resize
}

.selected_name{
  font-weight:bold;
}
